* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

.container {
	max-width: 1110px;
	padding-inline: 20px;
	margin: 0 auto;
	padding-block: 115px 150px;
	display: flex;
}

h1 {
	color: #202047;
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 30px;
}

.testimonial__info {
	display: flex;
	align-items: center;
	gap: 10px;
}

.testimonial__info p {
	color: #202047;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.9;
}

.testimonial__info span {
	color: #B9B9CE;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.9;
}


